<ion-header>
  <ion-toolbar>
    <ion-title>EService</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-img src="/assets/shapes.png"></ion-img>
    <ion-card-header>
      <ion-card-title>Bienvenu</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>EService vos rapproche rapidement de vos besoins</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-img src="/assets/map.png"></ion-img>
      <ion-card-header>
        <ion-card-title>De vrais bricoleurs pour vous aider</ion-card-title>
        <ion-card-subtitle>Travaux, déménagement, livraison & services à domicile</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

</ion-content>
<ion-footer>
  <ion-toolbar>
      <ion-row>
        <ion-col>
          <ion-button shape="round" color="primary" expand="full" color="primary" (click)="login()">Login</ion-button>
        </ion-col>
        <ion-col>
          <ion-button shape="round"  color="secondary" expand="full" (click)="register()">Register</ion-button>
        </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-footer>