<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-button class="ion-margin-end" slot="end" shape="round" color="light" (click)="dismissLogin()"><ion-icon name="close"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form #form="ngForm" (ngSubmit)="login(form)" method="post">
    <ion-item class="ion-margin-bottom">
      <ion-label position="floating">Email</ion-label>
      <ion-input required email ngModel type="email" name="email"></ion-input>
    </ion-item>
  
    <ion-item class="ion-margin-bottom">
      <ion-label position="floating">Password</ion-label>
      <ion-input required ngModel type="password" name="password"></ion-input>
    </ion-item>
  
    <ion-button class="ion-margin-bottom" shape="round" type="submit" expand="full" color="primary">Login</ion-button>
  </form>
  <p text-center>Don't have a account?</p>
  <ion-button shape="round" expand="full" color="secondary" (click)="registerModal()">Register</ion-button>
</ion-content>